:root {
  --background-color: #4353ff;
  --text-color-primary: #000;
  --text-color-seconday: #fff;
  --font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--background-color);
  font-size: 14px;
  line-height: 20px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 36px;
  padding: 0 51px;
  font-family: var(--font-family);
  line-height: 40px;
  text-align: center;
}

#logo {
  width: 190px;
  margin: 8px;
  padding: 22px;
}

.button {
  display: flex;
  width: 50%;
  margin: 20px 20px 26px;
  padding: 14px;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
  border-color: var(--text-color-seconday);
  background-color: var(--background-color);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  color: var(--text-color-seconday);
}

.image {
  width: 50%;
  margin: 8px;
  padding: 22px;
  align-self: center;
  border-radius: 0px;
}

.app {
  display: flex;
  max-width: 470px;
  margin: 10% 37px;
  padding-bottom: 35px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  border-radius: 14px;
  background-color: var(--text-color-seconday);
}